html {
  padding: 0;
}
body {
  font-family: arial;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.layout {
  padding: 0 50px;
}

.float-left {
  float: left;
}

.menu {
  height: 70px;
  background: #333;
  padding-top: 15px;
}

input {
  width: 300px;
  height: 28px;
  margin-right: 25px;
}

button {
  height: 25px;
  width: 75px;
}


.table {
  padding: 20px;
}

.person-holder {
  height: 18px;
}

.person-list {
  background: #eee;
  padding: 5px;
  margin: 5px 0px;
  width: 200px;
  cursor: ns-resize;
}

.person {
  position: relative;
  height: 18px;
  width: 100%;
  cursor: all-scroll;
  left: -5px;
  top: -5px;
  padding: 5px;
}

.person.ui-draggable-dragging {
  height: 18px;
  width: 200px;
  padding: 5px;
}

.person.ui-draggable-dragging[data-person-gender="male"] {
  background: #bee3f5;
  border: 1px solid #a1d6f0;
}

.person.ui-draggable-dragging[data-person-gender="female"] {
  background: #fcbddd;
  border: 1px solid #fa9dcd;
}

.placeholder {
  border: 1px solid #eee;
  height: 28px;
  width: 210px;
  margin: 5px 0px;
}

.seats {
  padding: 65px 0px 0px 65px;
  margin: 60px;
  width: 75px;
  height: 75px;
  border: 1px solid black;
  border-radius: 70px;
}

.seats li {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  display: block;
  position: absolute;
}

.seats .hover {
  background: #fff;
}

.person {
  border-right: 1px solid #ddd;
  font-size: 13px;
}

.person.male {
  border-right: 1px solid #66bde7;
}

.person.female {
  border-right: 1px solid #fa9dcd;
}

.person-list, .seats .unknown {
  background: #eee;
  border: 1px solid #ddd;
}

.person-list.male, .seats .male {
  border: 1px solid #66bde7;
}

.person-list.female, .seats .female {
  border: 1px solid #fa9dcd;
}

.male {
  background: #a1d6f0;
}

.female {
  background: #fcbddd;
}

.person-list {
  position: relative;
}

.person.company:before {
  position: absolute;
  content: 'F';
  left: -20px;
}

.seats .company:before {
  content: 'F';
  font-size: 8px;
  position: relative;
  left: 3px;
  bottom: 6px;
}

.name {
  display: block;
  width: 130px;
  float: left;
}

.id {
  float: left;
  width: 40px;
  overflow: hidden;
}

.sign {
  float: right;
  width: 30px;
}

.output {
  margin: 50px;
  background-color: #ddd;
  border: #fefefe 1px solid;
  padding: 20px;
}

#simplemodal-container a.modalCloseImg {
  margin: 50px;
  background:url(../img/x.png) no-repeat; /* adjust url as required */
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-18px;
  cursor:pointer;
}
